sudo: required
services:
  - docker
language: python
python:
- 3.6
os:
- linux
install:
- pip install --upgrade cwltool==1.0.20190815141648
- pip install --upgrade cwltest==2.0.20200117101530
- pip install --upgrade ruamel.yaml==0.15.51

script: bash run_test.sh --junit-xml=result.xml -j2 RUNNER=cwltool
branches:
  only:
  - master
notifications:
  email: false
